.Achievements {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-height: calc(100vh - 252px);
  margin-top: 10px;
  width: 94%;
}

.Categories {
  margin-top: 10px;
  margin-left: 50px;
}

.SubCategoryButton {
  position: relative;
  top: -8px;
  margin-left: 20px;
  
}

.CategoryButtonBG {
  background-position: left;
  background-repeat: no-repeat;
  background-position: -7px -5.5px;
  scale: 120%;
  background-image: url(../images/Achievement/UI-Achievement-Category-Background.png);
  border-radius: 5px;
  width: 158px;
  height: 22px;
  
}
.SubCategoryButtonBG {
  background-position: left;
  background-repeat: no-repeat;
  background-position: -7px -5.5px;
  scale: 120%;
  background-image: url(../images/Achievement/UI-Achievement-Category-Background.png);
  border-radius: 5px;
  width: 158px;
  height: 22px;
  
}

.Category {
  margin-top: 5px;
  height: 25px;
}
.SubCategory {
  margin-left: 20px;
  margin-top: 5px;
  height: 25px;
}

.CategoryTextColor {
  color: yellow;
}

.SubcategoryTextColor{
  color: white;
}



.AllCategoryText {
  position: relative;
  top: -13px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  text-align: left;
  margin-left: 3px;
  letter-spacing: 0.4px;
  font-family: 'Friz Quadrata Std', sans-serif;
  font-weight: 100;
  text-shadow: 0.7px 0.7px #000000;
  font-size: 12px;
}

.Absolute {
  position: absolute;
  top: 1px;
}

.Highlight {
  position: absolute;
  left: 3px;
  top: 2px;
  background-position: center;
  background-repeat: repeat;
  background-position: -8px -5px;
  background-image: url(../images/Achievement/UI-Achievement-Category-Highlight.png);
  filter: saturate(79%) brightness(93%);
  border-radius: 2px;
  width: 148px;
  height: 13px;
}


.hover {
  width: 148px;
  height: 13px;
}
.hover:hover {
  background-position: center;
  background-repeat: repeat;
  background-position: -8px -5px;
  background-image: url(../images/Achievement/UI-Achievement-Category-Highlight.png);
  filter: saturate(79%) brightness(93%);
  border-radius: 2px;
  width: 148px;
  height: 13px;
}



