.Achievement {
  width: 540px;
  height: 84px;
  position: relative;
  font-family: 'Friz Quadrata Std', sans-serif;
  border: 2px solid rgb(133, 28, 9);
  border-radius: 4px;
  margin: 3px;
}
.Achievement.notEarned {
  width: 540px;
  height: 84px;
  position: relative;
  font-family: 'Friz Quadrata Std', sans-serif;
  border: 2px solid rgb(59, 59, 59);
  border-radius: 4px;
  margin: 3px;
}

.AchievementList {
  overflow-y: scroll;
  overflow-x: hidden;
  width: fit-content;
  
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 20px;
  scroll-behavior: auto;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: url(../images/Achievement/UI-ScrollBar-Knob.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 5px;

}

.AchievementBackground {
  color: white;
  position: relative;
  width: 540px;
  height: 84px;
  text-align: center;
  background-image: url(../images/Achievement/UI-Achievement-Parchment-Horizontal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

.AchievementBackgroundNotEarned {
  color: white;
  position: relative;
  width: 540px;
  height: 84px;
  text-align: center;
  background-image: url(../images/Achievement/UI-Achievement-Parchment-Horizontal-Desaturated.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

.Achievement:hover {
  border: 2px solid rgb(247, 166, 26);
}

.AchData {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MediaBorder {
  position: relative;
  scale: 115%;
  bottom: 65px;
  right: 5px;
}


.AchNameDesc {
  position: relative;
  display: flex;
  text-align: center;
  width: 360px;
  flex-direction: column;
  opacity: 1;
  color: white;
}

.AchName {
  font-size: 15px;
  position: relative;
  opacity: 1;
  height: 24px;
  width: 100%;
  top: 1px;
  font-weight: 100;
  text-shadow: 0.7px 0.7px #000000;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  letter-spacing: 0.4px;
}

.AchName.NotEarned {
  color: rgb(177, 172, 172);
}

.AchDesc {
  position: relative;
  color: #000000;
  top: 3px;
  height: 50px;
}

.AchTitleBackground {
  opacity: 0.85;
  max-width: 512px;
  height: 21px;
  overflow: hidden;

}

.TsunamiTop {
  position: relative;
  bottom: 7.5px;
  max-width: 540px;
  opacity: 0.2;
  transform: rotate(180deg);
}

.TsunamiBottom {
  max-width: 540px;
  position: relative;
  top: 31px;
  opacity: 0.3;
}

.Reward {
  max-width: 540px;
  align-items: center;
  position: absolute;
  scale: 110%;
  top: 72px;
  left: 100px;
  opacity: 1;
}
.RewardText {
  position: relative;
  top: 3px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;

}
.RewardText.NotEarned {
  color: rgb(177, 172, 172);

}


.Media {
  position: relative;
  top: 10px;
  left: 10px;
  width: 90px;
}

.NotEarned {
  filter: saturate(20%);
}



.AchPointsDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  position: relative;
  left: 10px;
  text-align: center;

}

.Date {
  position: relative;
  color: rgb(255, 251, 32);
  font-size: 11px;
  bottom: 16px;
  letter-spacing: 0.6px;
}

.Date.feat {
  position: relative;
  color: rgb(255, 251, 32);
  font-size: 11px;
  bottom: 0px;
  letter-spacing: 0.6px;
}

.Points {
  position: relative;
  font-size: 14px;
  bottom: 33px;
  color: white;
}

.AchShield {
  position: relative;
  top: 6px;
}
.AchShield.NotEarned {
  filter: saturate(0%) brightness(60%);
}