.Homepage {
  filter: saturate(50%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vmin;
  width: 100vmax;
  transition: 2s ease;
}

.Splash {
  filter: none;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 6rem;
  font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 600;
  top: -100px;
}

.Search {
  position: relative;
  top: -150px;
  font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.SearchBar {
  width: 400px;
  height: 60px;
  border-radius: 22px;
  padding-left: 30px;
  padding-right: 30px;
  border: #fff;
  outline: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.5rem;
}

.ArmoryImg {
  filter: saturate(200%);
  scale: 50%;
}

.BG-1 {
  background-image: url(../images/Homepage/Lich_King_Key_Art\ \(1\).jpg);
}

.BG-2 {
  background-image: url(../images/Homepage/WoW_WrathClassic_BoreanTundra_Coldarra_001.png);
}

.BG-3 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Dalaran_005.png);
}

.BG-4 {
  background-image: url(../images/Homepage/WoW_WrathClassic_HowlingFjord_005.png);
}

.BG-5 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Icecrown_001.png);
}

.BG-6 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Icecrown_005.png);
}

.BG-7 {
  background-image: url(../images/Homepage/WoW_WrathClassic_RubyDragonshrine_002.png);
}

.BG-8 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Ulduar_002.png);
}

.BG-9 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Ulduar_003.png);
}

.BG-10 {
  background-image: url(../images/Homepage/WoW_WrathClassic_ZulDrak_Kolramas_003.png);
}