.HomepageBG {
  position: absolute;
  filter: saturate(45%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vmin;
  width: 100vmax;
  transition: 1s ease;
}

.Splash {
  filter: none;
  display: flex;
  position: relative;
  height: 100%;
  width: 100vmax;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 6rem;
  font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.Search {
  position: relative;
  top: -200px;
  font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.SearchBar {
  position: relative;
  background-color: rgb(66, 65, 65);
  color: rgb(245, 244, 244);
  width: 400px;
  height: 60px;
  border-radius: 22px;
  padding-left: 30px;
  padding-right: 60px;
  border: solid 1px rgb(245, 244, 244);
  font-family: inherit;
  font-weight: 700;
  font-size: 1.5rem;
  left: 10px;
}
.SearchBar:hover {
  transition: background-color 0.2s;
  background-color: rgb(71, 70, 70);
  color: rgb(250, 249, 249);
  border: solid 1px rgb(250, 249, 249);
}

.SearchButton {
  position: relative;
  top: 5px;
  left: -40px;
  background-image: url(../images/Homepage/search.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  width: 20px;
  height: 20px;
  scale: 150%;
}

.SearchResults {
  top: -200px;
  position: relative;
  font-size: medium;
  max-height: 800px;
  width: 460px;
  

}
.Result.odd {
  background-color: rgb(44, 44, 44);
}

.Result.even {
  background-color: rgb(22, 22, 22);
}

.Result:hover {
  transition: background-color 0.2s;
  background-color: rgb(96, 154, 168);
}

.SearchResults a {
  text-decoration: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(131, 128, 128);
  opacity: 1; /* Firefox */
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.ArmoryLogo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ArmoryImg {
  position: relative;
  scale: 55%;
  background-size: auto;
  
}
.ArmoryImgClassic {
  position: relative;
  top: -31%;
  scale: 95%;
  background-size: auto;
  top: -164px;
}

.BG-1 {
  background-image: url(../images/Homepage/Lich_King_Key_Art\ \(1\).jpg);
}

.BG-2 {
  background-image: url(../images/Homepage/WoW_WrathClassic_BoreanTundra_Coldarra_001.png);
}

.BG-3 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Dalaran_005.png);
}

.BG-4 {
  background-image: url(../images/Homepage/WoW_WrathClassic_HowlingFjord_005.png);
}

.BG-5 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Icecrown_001.png);
}

.BG-6 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Icecrown_005.png);
}

.BG-7 {
  background-image: url(../images/Homepage/WoW_WrathClassic_RubyDragonshrine_002.png);
}

.BG-8 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Ulduar_002.png);
}

.BG-9 {
  background-image: url(../images/Homepage/WoW_WrathClassic_Ulduar_003.png);
}

.BG-10 {
  background-image: url(../images/Homepage/WoW_WrathClassic_ZulDrak_Kolramas_003.png);
}