.PvP {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.HonorKills {
  background-color: #1f1d1d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 230px;
  height: 260px;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 80%);
  font-weight: 700;
  position: relative;
  text-align: center;
  min-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Title {
  font-size: 1.4rem;
  
}

.PVPLogo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  width: 100px;
  height: 150px;
  margin-left: 65px;
  margin-right: 65px;
}

.PVPLogo-HORDE {
  background-image: url(../images/Character/Logo-horde.2a80e0466e51d85c8cf60336e16fe8b8.png);
}

.PVPLogo-ALLIANCE {
  background-image: url(../images/Character/Logo-alliance.bb36e70f5f690a5fc510ed03e80aa259.png);
}
