.SubmissionText {
  display: flex;
  font-size: 2rem;
  margin-right: 57px;
}

.SubmissionTextLoading {
  display: flex;
  font-size: 2rem;
  margin-right: 10px;
}

.SubmissionButton {
  width: fit-content;
  height: 18px;
  border: none;
  font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: rgb(233,149,15);
  margin: 10px;
}

.SubmissionButton:hover {
  color: rgb(50, 50, 50);
}

.hide {
  display: none;
}

.Submit {
  position: relative;
  top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StepEntry {
  margin-top: 20px;
  font-weight: 500;
}

.StepText {
  font-size: x-large;
  color: rgb(233,149,15);
  text-decoration: underline;
  font-weight: 700;
}

.SubmissionPage {
  color: rgb(233,149,15);
  font-size: 1.35rem;
  line-height: 50px;
  font-weight: 700;
  font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
  text-shadow: rgb(0 0 0 / 0%) 0px 0px 1px, rgb(0 0 0 / 80%) 0px 1px 2px;
  display: flex;
  flex-direction: row;
}

.SubmissionInput {
  resize: none;
  padding: 5px;
  font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif;
  height: 250px;
  width: 100%;
}

.SubmitArea {
  display: flex;
  align-items: center;
  width: 70%;
}


.HowTo {
  position: relative;
  margin: 25px;
  width: 50%;
  display: flex;
  flex-direction: column;
}