.App {
  text-align: center;
}

.Tooltip {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  float: left;
  padding-top: 1px;
  padding: 8px 4px 1px 9px;
  width: 320px;
  visibility: visible;
  font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  justify-content: space-between;

}

.ItemSlot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ItemSlot.ItemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ItemSlot.ItemDetails.Legendary {
  color: #ff8000
}

.ItemSlot.ItemDetails.Epic {
  color: #a335ee;
}

.ItemSlot.ItemDetails.Rare {
  color: #0070dd;
}

.ItemSlot.ItemDetails.Uncommon {
  color: #1eff00;
}

.ItemSlot.ItemDetails.Common {
  color: #fff;
}

.ItemSlot.ItemDetails.Poor {
  color: #9d9d9d;
}

.ItemSlotIcon {
  height: 62px;
  width: 62px;
  border-radius: 4px !important;
  outline: 1.3px solid;
  margin-right: 5px;
}

.ItemSlotIcon.Legendary {
  outline-color: #ff8000;
}

.ItemSlotIcon.Epic {
  outline-color: #a335ee;
}

.ItemSlotIcon.Rare {
  outline-color: #0070dd;
}

.ItemSlotIcon.Uncommon {
  outline-color: #1eff00;
}

.ItemSlotIcon.Common {
  outline-color: #fff
}

.ItemSlotIcon.Poor {
  outline-color: #9d9d9d;
}


.itemrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statrow {
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}